.calendar{
  max-width: 851px;
  border: 1px solid #DEE2E6;
  background-color: #F8F9FA;
  align-self: flex-start;

  .calendar-header{
    display: flex;
    height: 46px;
    align-items: center;
    padding: 0 26px 0 17px;
    border-bottom: 1px solid #DEE2E6;

    @include mobile{
      padding: 0 10px 0 0;
    }

    .nav-buttons{
      display: flex;
      height: 100%;

      .btn{

        &.btn-prev,
        &.btn-next{
          width: 30px;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          @include mobile{
            width: 30px;
          }

          &:before{
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
          }
        }

        &.btn-prev{
          margin: 0 10px 0 0;

          @include mobile{
            margin: 0 3px 0 0;
          }

          &:before{
            border-width: 5.5px 6px 5.5px 0;
            border-color: transparent #495057 transparent transparent;
          }
        }

        &.btn-next{
          &:before{
            border-width: 5.5px 0 5.5px 6px;
            border-color: transparent transparent transparent #495057;
          }
        }
      }
    }

    .btn-date{
      font-size: 16px;
      margin: 0 0 0 16px;
      padding: 0 28px 0 0;
      position: relative;

      @include mobile{
        font-size: 15px;
        margin: 0 0 0 10px;
      }

      &:after{
        content: '';
        position: absolute;
        top: 9px;
        right: 11px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 5.5px 0 5.5px;
        border-color: #495057 transparent transparent transparent;
      }
    }

    .date{
      font-size: 14px;
      margin: 0 0 0 auto;
    }
  }

  .calendar-table{
    width: 100%;
    table-layout: fixed;
    background-color: #fff;

    thead{

      th{
        width: 18.02%;
        border-left: 1px solid #DEE2E6;
        border-bottom: 1px solid #DEE2E6;
        padding: 10px 8px 9px;

        &:first-child{
          width: 9.9%;
          padding: 0;
          border-left: none;
        }

        p{
          font-size: 13px;
          line-height: 17px;

          span{
            display: block;
            font-size: 18px;
            line-height: 24px;
            margin: 1px 0 0;
          }
        }
      }
    }

    tbody{

      tr{
        &:last-child{
          td,
          th{
            border-bottom: none;
          }
        }
      }

      th{
        border-bottom: 1px solid #DEE2E6;
        padding: 0 0 0 0;
        text-align: center;
        vertical-align: middle;

        p{
          font-size: 12px;
          line-height: 16px;

        }
      }

      td{
        border-bottom: 1px solid #DEE2E6;
        border-left: 1px solid #DEE2E6;

        &:first-child{
          border-left: none;
        }

        .event-container{
          width: 100%;
          height: 50px;
          display: flex;
          padding: 1px;
          justify-content: space-between;

          @include mobile{
            flex-wrap: wrap;
          }

          .event{
            width: calc(50% - 1px);
            border-radius: 4px;
            padding: 7px 8px 8px;

            @include mobile{
              width: calc(100% - 1px);
              height: calc(50% - 1px);
              padding: 3px 8px;
            }

            &.blue{
              background-color: #4B67C5;
            }

            &.green{
              background-color: #4BC569;
            }

            &.grey{
              background-color: #989898;
            }

            &.left{
              margin: auto 0 0 0;

              @include mobile{
                margin: 0 0 auto;
              }
            }

            &.right{
              margin: 0 0 0 auto;

              @include mobile{
                margin: auto 0 0;
              }
            }

            p{
              color: #fff;
              width: 100%;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: pre;
              pointer-events: none;

              &.name{
                font-size: 14px;
                line-height: 16px;

              }

              &.time{
                font-size: 11px;
                line-height: 15px;
                margin: 2px 0 0;

              }
            }
          }
        }
      }
    }
  }
}