@charset "UTF-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

caption, th {
  text-align: left;
}

q:before, q:after {
  content: "";
}

abbr, acronym {
  border: 0;
}

a, button {
  font-family: inherit;
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: inherit;
}

input {
  font-family: inherit;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/lato-light-webfont.woff2") format("woff2"), url("../fonts/lato-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/lato-regular-webfont.woff2") format("woff2"), url("../fonts/lato-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/lato-semibold-webfont.woff2") format("woff2"), url("../fonts/lato-semibold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-MediumItalic.woff2") format("woff2"), url("../fonts/Lato-MediumItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/lato-bold-webfont.woff2") format("woff2"), url("../fonts/lato-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
html {
  min-height: 100%;
  display: flex;
}

body {
  width: 100%;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: #292936;
}

.container {
  width: 100%;
  max-width: 1300px;
  padding: 0 35px;
  margin: 0 auto;
}
@media (max-width: 374px) {
  .container {
    padding: 0 20px;
  }
}

.flex {
  display: flex;
}

.jc-cen {
  justify-content: center;
}

.jc-sb {
  justify-content: space-between;
}

.jc-end {
  justify-content: flex-end;
}

.ai-cen {
  align-items: center;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
}
.page-wrapper.no-aside .inner-page {
  padding-left: 0;
}
.page-wrapper.no-aside .inner-page #main-header {
  width: 100% !important;
}

.inner-page {
  padding: 0 0 0 84px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  .inner-page {
    padding: 0;
  }
}

@media (max-width: 767px) {
  .mobile-only {
    display: block;
  }
}
@media (min-width: 768px) {
  .mobile-only {
    display: none;
  }
}

@media (max-width: 767px) {
  .tablet-desktop-only {
    display: none;
  }
}
@media (min-width: 768px) {
  .tablet-desktop-only {
    display: block;
  }
}

.btn {
  background-color: transparent;
  padding: 0;
}
.btn.btn-messages {
  width: 32px;
  height: 32px;
  background-image: url("../images/icon-messages.svg");
}
.btn.btn-more {
  width: 26px;
  height: 32px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn.btn-more span {
  width: 6.5px;
  height: 6px;
  position: relative;
  background-color: #fff;
  border-radius: 50%;
}
.btn.btn-more span:before, .btn.btn-more span:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -10px;
  background-color: #fff;
  border-radius: 50%;
}
.btn.btn-more span:after {
  left: 10px;
}
.btn.btn-form {
  width: calc(100% + 30px);
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  border-radius: 32px;
  padding: 17px;
  margin: 0 -15px;
}
.btn.btn-form.btn-form-small {
  width: auto;
  font-size: 18px;
  line-height: 22px;
  padding: 10px 33px 12px;
  margin: 0;
}
.btn.btn-form.btn-white {
  background-color: #fff;
  color: #292936;
}
.btn.btn-form.btn-pink {
  background-color: #DE00A7;
  color: #fff;
}
.btn.btn-form:disabled {
  background-color: #3851A7;
  color: #2E448E;
  cursor: default;
}
.btn.btn-login {
  width: 40px;
  height: 32px;
  background-image: url("../images/icon-login.svg");
}

.form-content {
  width: 46.75%;
  padding: 3px 0 0;
}
@media (max-width: 767px) {
  .form-content {
    width: 100%;
    padding: 3px 11px 0;
  }
}
.form-content .form-line.box-line {
  margin: 15px 0 0;
}
.form-content .form-line.checkbox-line {
  margin: 18px 0 0;
}
.form-content .form-line.link-line {
  margin: 15px 0 0;
}
.form-content .form-line label {
  font-size: 16px;
  line-height: 19px;
  position: relative;
}
.form-content .form-line input[type=text], .form-content .form-line input[type=email], .form-content .form-line input[type=password], .form-content .form-line input[type=number], .form-content .form-line input[type=tel] {
  width: 100%;
  font-size: 16px;
  line-height: 19px;
  color: #292936;
  border: 1px solid #CBCBCB;
  padding: 15px 17px 16px;
  margin: 7px 0 0;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
}
.form-content .form-line input[type=text]:focus, .form-content .form-line input[type=email]:focus, .form-content .form-line input[type=password]:focus, .form-content .form-line input[type=number]:focus, .form-content .form-line input[type=tel]:focus {
  border-color: #3851A7;
}
.form-content .form-line input[type=text]:read-only, .form-content .form-line input[type=email]:read-only, .form-content .form-line input[type=password]:read-only, .form-content .form-line input[type=number]:read-only, .form-content .form-line input[type=tel]:read-only {
  background-color: #F3F3F3;
  border: 1px solid #CBCBCB;
}
.form-content .form-line input[type=checkbox] {
  float: left;
  opacity: 0;
  width: 0;
  height: 0;
  display: inline-block;
  padding: 0;
  margin: 0;
  border: 0;
}
.form-content .form-line input[type=checkbox]:focus + label:before, .form-content .form-line input[type=checkbox]:active + label:before {
  border-color: #3851A7;
}
.form-content .form-line input[type=checkbox]:checked + label:after {
  content: "";
  width: 14px;
  height: 14px;
  background: #DE00A7;
  position: absolute;
  top: 4px;
  left: 6px;
}
.form-content .form-line input[type=checkbox] + label {
  padding: 0 0 0 38px;
  cursor: pointer;
}
.form-content .form-line input[type=checkbox] + label:before {
  content: "";
  width: 26px;
  height: 26px;
  background: #fff;
  border: 1px solid #CBCBCB;
  position: absolute;
  top: -2px;
  left: 0;
}
.form-content h4 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  margin: 16px 0 0;
}
.form-content h4 + .form-line.checkbox-line {
  margin: 16px 0 0;
}
.form-content .form-link {
  font-size: 16px;
  line-height: 19px;
}
.form-content .form-link:hover {
  text-decoration: underline;
}
.form-content .error-msg {
  font-size: 14px;
  line-height: 17px;
  color: red;
}
.form-content .btn.btn-form {
  margin: 26px 0 0;
}

#main-aside {
  width: 84px;
  height: 100%;
  background-color: #2E448E;
  position: fixed;
  padding: 0 0 20px;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  z-index: 19;
}
@media (max-width: 767px) {
  #main-aside {
    width: 100%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    top: auto;
    left: auto;
    bottom: 0;
    padding: 0;
    position: sticky;
  }
}
#main-aside nav {
  width: 100%;
}
@media (max-width: 767px) {
  #main-aside nav {
    width: auto;
    max-width: 698px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10px;
    margin: 0 auto;
  }
}
#main-aside nav a {
  width: 100%;
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
  text-align: center;
  display: block;
  padding: 13px 0 14px;
  color: #fff;
  transition: background-color 0.1s;
}
#main-aside nav a:hover {
  background-color: #3B56B3;
}
#main-aside nav a.active {
  background-color: #F3F3F3;
  color: #3851A7;
}
@media (max-width: 767px) {
  #main-aside nav a.active {
    background-color: #3B56B3;
    color: #fff;
  }
}
#main-aside nav a.active .icon-container svg {
  fill: #2E448E;
}
@media (max-width: 767px) {
  #main-aside nav a.active .icon-container svg {
    fill: #fff;
  }
}
@media (max-width: 767px) {
  #main-aside nav a {
    width: auto;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    padding: 15px 10px;
  }
}
#main-aside nav a .icon-container {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 0 auto 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  #main-aside nav a .icon-container {
    width: auto;
    height: auto;
    border-radius: 0;
    margin: 0;
    background-color: transparent;
    padding: 0 4px;
  }
}
#main-aside nav a .icon-container svg {
  width: auto;
  height: 22px;
  fill: #fff;
}
@media (max-width: 767px) {
  #main-aside nav a .icon-container svg {
    width: auto;
    height: 16px;
    display: block;
  }
}

.calendar {
  max-width: 851px;
  border: 1px solid #DEE2E6;
  background-color: #F8F9FA;
  align-self: flex-start;
}
.calendar .calendar-header {
  display: flex;
  height: 46px;
  align-items: center;
  padding: 0 26px 0 17px;
  border-bottom: 1px solid #DEE2E6;
}
@media (max-width: 767px) {
  .calendar .calendar-header {
    padding: 0 10px 0 0;
  }
}
.calendar .calendar-header .nav-buttons {
  display: flex;
  height: 100%;
}
.calendar .calendar-header .nav-buttons .btn.btn-prev, .calendar .calendar-header .nav-buttons .btn.btn-next {
  width: 30px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .calendar .calendar-header .nav-buttons .btn.btn-prev, .calendar .calendar-header .nav-buttons .btn.btn-next {
    width: 30px;
  }
}
.calendar .calendar-header .nav-buttons .btn.btn-prev:before, .calendar .calendar-header .nav-buttons .btn.btn-next:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}
.calendar .calendar-header .nav-buttons .btn.btn-prev {
  margin: 0 10px 0 0;
}
@media (max-width: 767px) {
  .calendar .calendar-header .nav-buttons .btn.btn-prev {
    margin: 0 3px 0 0;
  }
}
.calendar .calendar-header .nav-buttons .btn.btn-prev:before {
  border-width: 5.5px 6px 5.5px 0;
  border-color: transparent #495057 transparent transparent;
}
.calendar .calendar-header .nav-buttons .btn.btn-next:before {
  border-width: 5.5px 0 5.5px 6px;
  border-color: transparent transparent transparent #495057;
}
.calendar .calendar-header .btn-date {
  font-size: 16px;
  margin: 0 0 0 16px;
  padding: 0 28px 0 0;
  position: relative;
}
@media (max-width: 767px) {
  .calendar .calendar-header .btn-date {
    font-size: 15px;
    margin: 0 0 0 10px;
  }
}
.calendar .calendar-header .btn-date:after {
  content: "";
  position: absolute;
  top: 9px;
  right: 11px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 5.5px 0 5.5px;
  border-color: #495057 transparent transparent transparent;
}
.calendar .calendar-header .date {
  font-size: 14px;
  margin: 0 0 0 auto;
}
.calendar .calendar-table {
  width: 100%;
  table-layout: fixed;
  background-color: #fff;
}
.calendar .calendar-table thead th {
  width: 18.02%;
  border-left: 1px solid #DEE2E6;
  border-bottom: 1px solid #DEE2E6;
  padding: 10px 8px 9px;
}
.calendar .calendar-table thead th:first-child {
  width: 9.9%;
  padding: 0;
  border-left: none;
}
.calendar .calendar-table thead th p {
  font-size: 13px;
  line-height: 17px;
}
.calendar .calendar-table thead th p span {
  display: block;
  font-size: 18px;
  line-height: 24px;
  margin: 1px 0 0;
}
.calendar .calendar-table tbody tr:last-child td,
.calendar .calendar-table tbody tr:last-child th {
  border-bottom: none;
}
.calendar .calendar-table tbody th {
  border-bottom: 1px solid #DEE2E6;
  padding: 0 0 0 0;
  text-align: center;
  vertical-align: middle;
}
.calendar .calendar-table tbody th p {
  font-size: 12px;
  line-height: 16px;
}
.calendar .calendar-table tbody td {
  border-bottom: 1px solid #DEE2E6;
  border-left: 1px solid #DEE2E6;
}
.calendar .calendar-table tbody td:first-child {
  border-left: none;
}
.calendar .calendar-table tbody td .event-container {
  width: 100%;
  height: 50px;
  display: flex;
  padding: 1px;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .calendar .calendar-table tbody td .event-container {
    flex-wrap: wrap;
  }
}
.calendar .calendar-table tbody td .event-container .event {
  width: calc(50% - 1px);
  border-radius: 4px;
  padding: 7px 8px 8px;
}
@media (max-width: 767px) {
  .calendar .calendar-table tbody td .event-container .event {
    width: calc(100% - 1px);
    height: calc(50% - 1px);
    padding: 3px 8px;
  }
}
.calendar .calendar-table tbody td .event-container .event.blue {
  background-color: #4B67C5;
}
.calendar .calendar-table tbody td .event-container .event.green {
  background-color: #4BC569;
}
.calendar .calendar-table tbody td .event-container .event.grey {
  background-color: #989898;
}
.calendar .calendar-table tbody td .event-container .event.left {
  margin: auto 0 0 0;
}
@media (max-width: 767px) {
  .calendar .calendar-table tbody td .event-container .event.left {
    margin: 0 0 auto;
  }
}
.calendar .calendar-table tbody td .event-container .event.right {
  margin: 0 0 0 auto;
}
@media (max-width: 767px) {
  .calendar .calendar-table tbody td .event-container .event.right {
    margin: auto 0 0;
  }
}
.calendar .calendar-table tbody td .event-container .event p {
  color: #fff;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
  pointer-events: none;
}
.calendar .calendar-table tbody td .event-container .event p.name {
  font-size: 14px;
  line-height: 16px;
}
.calendar .calendar-table tbody td .event-container .event p.time {
  font-size: 11px;
  line-height: 15px;
  margin: 2px 0 0;
}

#page-user-screen {
  width: 100%;
  min-height: 100%;
  background: linear-gradient(150.65deg, #2E448E 0%, #3851A7 100%);
  color: #fff;
}
#page-user-screen.page-homepage .page-content {
  padding: 20px 0 25px;
}
#page-user-screen.page-homepage .page-content .heading {
  min-height: 98px;
}
#page-user-screen.page-homepage .page-content #global-screen {
  padding: 0 0 50px;
}
#page-user-screen.page-homepage .page-content .smiley {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  background: #5EF38C url("../images/icon-ready.svg") no-repeat 50% 50%;
  margin: 0 auto;
}
#page-user-screen.page-homepage .page-content .email-form {
  width: 100%;
  max-width: 335px;
  margin: 84px auto 0;
}
#page-user-screen.page-homepage .page-content .email-form input[type=text],
#page-user-screen.page-homepage .page-content .email-form input[type=email],
#page-user-screen.page-homepage .page-content .email-form input[type=password],
#page-user-screen.page-homepage .page-content .email-form input[type=tel] {
  width: 100%;
  border-radius: 12px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  padding: 10px 15px;
  outline: none;
  border: none;
}
#page-user-screen.page-homepage .page-content .email-form input[type=text]::placeholder,
#page-user-screen.page-homepage .page-content .email-form input[type=email]::placeholder,
#page-user-screen.page-homepage .page-content .email-form input[type=password]::placeholder,
#page-user-screen.page-homepage .page-content .email-form input[type=tel]::placeholder {
  color: #ABABAB;
  text-align: center;
  font-style: italic;
}
#page-user-screen.page-homepage .page-content .email-form .btn-form {
  width: 100%;
  margin: 12px auto 0;
}
#page-user-screen.page-homepage .page-content .thanks-msg {
  margin: 55px 0 0;
}
#page-user-screen.page-homepage .page-content .thanks-msg h2 {
  font-size: 36px;
  line-height: 43px;
  font-weight: 300;
  text-align: center;
}
#page-user-screen.page-homepage .page-content .thanks-msg p {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  margin: 12px 0 0;
}
#page-user-screen.page-homepage .page-content #faq-link {
  font-size: 28px;
  line-height: 34px;
  font-weight: 500;
  color: #ABABAB;
  position: absolute;
  bottom: 0;
  right: 0;
}
#page-user-screen #main-header {
  max-width: 698px;
  min-height: 104px;
  padding: 22px 0 0;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
#page-user-screen #main-header .header-box {
  flex: 1;
  display: flex;
}
#page-user-screen #main-header .header-box.header-box-left .btn, #page-user-screen #main-header .header-box.header-box-right .btn {
  margin: 0 32px 0 0;
}
@media (max-width: 374px) {
  #page-user-screen #main-header .header-box.header-box-left .btn, #page-user-screen #main-header .header-box.header-box-right .btn {
    margin: 0 20px 0 0;
  }
}
#page-user-screen #main-header .header-box.header-box-left .btn:last-child, #page-user-screen #main-header .header-box.header-box-right .btn:last-child {
  margin: 0;
}
#page-user-screen #main-header .header-box.header-box-center {
  padding: 0 5px;
}
#page-user-screen #main-header .header-box.header-box-center .img-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 0 0 -45px;
}
#page-user-screen #main-header .header-box.header-box-center .img-container:first-child {
  margin: 0 !important;
  z-index: 8;
}
#page-user-screen #main-header .header-box.header-box-center .img-container:nth-child(2) {
  z-index: 7;
}
#page-user-screen #main-header .header-box.header-box-center .img-container:nth-child(3) {
  z-index: 6;
}
#page-user-screen #main-header .header-box.header-box-center .img-container:nth-child(4) {
  z-index: 5;
}
#page-user-screen #main-header .header-box.header-box-center .img-container:nth-child(5) {
  z-index: 4;
}
#page-user-screen #main-header .header-box.header-box-center .img-container:nth-child(6) {
  z-index: 4;
}
#page-user-screen #main-header .header-box.header-box-center .img-container:nth-child(7) {
  z-index: 3;
}
#page-user-screen #main-header .header-box.header-box-center .img-container:nth-child(8) {
  z-index: 2;
}
#page-user-screen #main-header .header-box.header-box-center .img-container:nth-child(9) {
  z-index: 1;
}
#page-user-screen #main-header .header-box.header-box-center .img-container.orange:after {
  background-color: #FF7F28;
}
#page-user-screen #main-header .header-box.header-box-center .img-container.yellow:after {
  background-color: #FFF201;
}
#page-user-screen #main-header .header-box.header-box-center .img-container picture {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  overflow: hidden;
  filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.1));
  border: 5px solid #2E448E;
}
#page-user-screen #main-header .header-box.header-box-center .img-container picture img {
  display: block;
  height: 100%;
}
#page-user-screen #main-header .header-box.header-box-center .img-container:after {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  bottom: -17px;
}
#page-user-screen .page-content {
  width: 100%;
  flex-grow: 1;
  display: flex;
  max-width: 698px;
  margin: 0 auto;
  padding: 41px 0 25px;
}
#page-user-screen .page-content.child-list {
  padding: 13px 0 25px;
}
#page-user-screen .page-content .container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
#page-user-screen .page-content .heading {
  width: 100%;
  min-height: 137px;
  display: flex;
  flex-direction: column;
}
#page-user-screen .page-content .heading h1 {
  font-size: 36px;
  line-height: 43px;
  font-weight: 300;
}
#page-user-screen .page-content .heading p {
  font-size: 18px;
  line-height: 22px;
  margin: 12px 0 0;
}
#page-user-screen .page-content .form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#page-user-screen .page-content .form .heading {
  justify-content: flex-end;
}
#page-user-screen .page-content .form .heading p {
  margin: 12px 0 0;
}
#page-user-screen .page-content .form .form-content {
  width: calc(100% + 20px);
  display: flex;
  flex-wrap: wrap;
  padding: 17px 0 0;
  margin: 0 -10px -10px;
}
#page-user-screen .page-content .form .form-content .input-box {
  width: 88px;
  height: 88px;
  filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.1));
  border-radius: 12px;
  position: relative;
  margin: 10px;
}
#page-user-screen .page-content .form .form-content .input-box.wide {
  width: 100%;
}
#page-user-screen .page-content .form .form-content .input-box.checkbox {
  height: auto;
  margin: 10px 10px 2px;
}
#page-user-screen .page-content .form .form-content .input-box.checkbox input:checked + label {
  background-image: url("../images/icon-tick.svg");
  background-position: 12px 50%;
  background-repeat: no-repeat;
  background-size: 32px auto;
}
#page-user-screen .page-content .form .form-content .input-box.checkbox label {
  font-weight: normal;
  justify-content: space-between;
  padding: 16px 26px 16px 58px;
  position: relative;
}
#page-user-screen .page-content .form .form-content .input-box.checkbox label .right {
  padding: 0 0 0 5px;
  text-align: right;
}
#page-user-screen .page-content .form .form-content .input-box input {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}
#page-user-screen .page-content .form .form-content .input-box input[type=radio]:checked + label {
  border-color: #DE00A7;
}
#page-user-screen .page-content .form .form-content .input-box label {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  background: #fff;
  border: 3px solid #fff;
  color: #292936;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 12px;
  transition: border-color 0.1s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#page-user-screen .page-content #global-screen {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
#page-user-screen .page-content #global-screen .heading {
  text-align: center;
}
#page-user-screen .page-content #queue-screen {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#page-user-screen .page-content #queue-screen .heading {
  min-height: 136px;
  text-align: center;
}
#page-user-screen .page-content #queue-screen .queue-status {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#page-user-screen .page-content #queue-screen .queue-status .queue-position {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  font-size: 18px;
  line-height: 22px;
  background-color: #3851A7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
}
#page-user-screen .page-content #queue-screen .queue-status .queue-position.ready {
  background: #5EF38C url("../images/icon-ready.svg") no-repeat 50% 50%;
}
#page-user-screen .page-content #queue-screen .queue-status .queue-position span {
  font-size: 72px;
  line-height: 72px;
  font-weight: bold;
  display: block;
  text-align: center;
  position: relative;
  top: -4px;
}
#page-user-screen .page-content #queue-screen .queue-status .queue-position span:before {
  content: "#";
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  position: absolute;
  top: 6px;
  left: -11px;
}
#page-user-screen .page-content #queue-screen .queue-status .status-text {
  font-size: 22px;
  font-weight: bold;
  margin: 56px 0 0;
}
#page-user-screen .page-content .confirmation-btn-container {
  width: 100%;
  padding: 38px 0 0;
  margin: auto 0 0;
}
#page-user-screen .page-content .confirmation-btn-container .btn:last-child {
  margin-top: 16px;
}
#page-user-screen .page-content .confirmation-btn-container .btn:first-child {
  margin-top: 0;
}
#page-user-screen .page-content .child-box {
  width: calc(100% + 54px);
  background-color: #fff;
  padding: 11px 12px 13px;
  margin: 0 -27px 16px;
}
#page-user-screen .page-content .child-box .info {
  display: flex;
  padding: 0 0 0 8px;
}
#page-user-screen .page-content .child-box .info .img-container {
  width: 62px;
  flex-grow: 0;
  flex-shrink: 0;
}
#page-user-screen .page-content .child-box .info .img-container picture {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  overflow: hidden;
  filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.1));
  display: block;
}
#page-user-screen .page-content .child-box .info .img-container picture img {
  max-width: 100%;
  width: auto;
  height: 100%;
  display: block;
}
#page-user-screen .page-content .child-box .info .text {
  max-width: calc(100% - 60px);
  flex-grow: 1;
  padding: 14px 0 0 60px;
}
#page-user-screen .page-content .child-box .info .text h1 {
  width: 100%;
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
  color: #292936;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#page-user-screen .page-content .child-box .info .text h2 {
  width: 100%;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #292936;
  margin: 4px 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#page-user-screen .page-content .child-box .image-actions {
  padding: 3px 0 0;
}
#page-user-screen .page-content .child-box .image-actions button {
  min-width: 78px;
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
  border-radius: 4px;
  text-align: center;
  padding: 1px 13px 3px 14px;
  display: block;
}
#page-user-screen .page-content .child-box .image-actions button.btn-remove {
  color: #FFFFFF;
  background: #EB7600;
}
#page-user-screen .page-content .child-box .image-actions button.e-upload-browse-btn, #page-user-screen .page-content .child-box .image-actions button.e-file-upload-btn {
  color: #2E448E;
  background-color: #5EF38C;
}
#page-user-screen .page-content .child-box .image-actions button.e-file-clear-btn {
  color: #fff;
  background-color: #828282;
}
#page-user-screen .page-content .child-box .image-actions .e-upload {
  color: #000;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#page-user-screen .page-content .child-box .image-actions .e-upload .e-file-select,
#page-user-screen .page-content .child-box .image-actions .e-upload .e-file-drop,
#page-user-screen .page-content .child-box .image-actions .e-upload .e-file-size,
#page-user-screen .page-content .child-box .image-actions .e-upload .e-file-status {
  display: none;
}
#page-user-screen .page-content .child-box .image-actions .e-upload .e-file-select-wrap {
  width: 100%;
}
#page-user-screen .page-content .child-box .image-actions .e-upload .e-upload-files {
  width: 130px;
  padding: 9px 20px 0 0;
  flex-shrink: 0;
  flex-grow: 0;
}
#page-user-screen .page-content .child-box .image-actions .e-upload .e-upload-files .e-file-container span {
  font-size: 12px;
  line-height: 14px;
  overflow: hidden;
}
#page-user-screen .page-content .child-box .image-actions .e-upload .e-upload-files .e-file-container span.e-file-name {
  display: inline-block;
  max-width: 80px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#page-user-screen .page-content .child-box .image-actions .e-upload .e-upload-files .e-file-container span.e-file-type {
  display: inline-block;
  margin: 0 0 0 -5px;
}
#page-user-screen .page-content .child-box .image-actions .e-upload .e-upload-actions {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  padding: 13px 0 10px;
}
#page-user-screen .page-content .child-box .image-actions .e-upload .e-upload-actions button {
  margin: 0;
}
#page-user-screen .page-content .child-box .image-actions .e-upload .e-upload-actions button:last-child {
  margin: 0 18px 0 0;
}
#page-user-screen .page-content .child-box .image-actions .e-upload .e-upload-actions button.e-file-upload-btn {
  order: 1;
}
#page-user-screen .page-content .child-box .image-actions .e-upload .e-upload-actions button.e-file-clear-btn {
  order: 2;
}
#page-user-screen #main-footer {
  width: 100%;
  margin: 0 auto;
  background-color: #293C7D;
  overflow: hidden;
  position: fixed;
  bottom: 0;
}
#page-user-screen #main-footer nav {
  max-width: 698px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 10px;
  margin: 0 auto;
}
#page-user-screen #main-footer nav a {
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 15px;
  transition: background-color 0.1s;
}
#page-user-screen #main-footer nav a:hover {
  background-color: #3B56B3;
}
#page-user-screen #main-footer nav a .icon-container {
  padding: 0 4px;
}
#page-user-screen #main-footer nav a .icon-container svg {
  fill: #fff;
  display: block;
}

#page-admin, #page-no-user {
  background-color: #F3F3F3;
  min-height: 100%;
}
@media (max-width: 767px) {
  #page-admin.page-admin-messages .inner-page #main-header .top .header-box-left h1, .page-admin-messages#page-no-user .inner-page #main-header .top .header-box-left h1,
#page-admin.page-admin-messages .inner-page #main-header .top .header-box-left h2,
.page-admin-messages#page-no-user .inner-page #main-header .top .header-box-left h2, #page-admin.page-admin-queue .inner-page #main-header .top .header-box-left h1, .page-admin-queue#page-no-user .inner-page #main-header .top .header-box-left h1,
#page-admin.page-admin-queue .inner-page #main-header .top .header-box-left h2,
.page-admin-queue#page-no-user .inner-page #main-header .top .header-box-left h2 {
    display: none;
  }
}
#page-admin .container, #page-no-user .container {
  padding: 0;
}
@media (max-width: 767px) {
  #page-admin .container, #page-no-user .container {
    padding: 0 8px;
  }
}
#page-admin .inner-page #main-header, #page-no-user .inner-page #main-header {
  width: 100%;
  background-color: #fff;
  position: sticky;
  top: 0;
  padding: 20px 86px 0;
  z-index: 9;
}
@media (min-width: 768px) and (max-width: 1023px) {
  #page-admin .inner-page #main-header, #page-no-user .inner-page #main-header {
    padding: 20px 30px 0;
  }
}
@media (max-width: 767px) {
  #page-admin .inner-page #main-header, #page-no-user .inner-page #main-header {
    width: 100%;
    padding: 9px 0 0;
    background-color: #F3F3F3;
  }
}
#page-admin .inner-page #main-header .top, #page-no-user .inner-page #main-header .top {
  min-height: 72px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  #page-admin .inner-page #main-header .top, #page-no-user .inner-page #main-header .top {
    min-height: 24px;
    margin: 0 0 -8px;
    padding: 16px 27px 21px 11px;
  }
}
#page-admin .inner-page #main-header .top .header-box.header-box-left, #page-no-user .inner-page #main-header .top .header-box.header-box-left {
  padding: 10px 0 0;
}
@media (max-width: 767px) {
  #page-admin .inner-page #main-header .top .header-box.header-box-left, #page-no-user .inner-page #main-header .top .header-box.header-box-left {
    padding: 5px 0 0;
  }
}
#page-admin .inner-page #main-header .top .header-box.header-box-left h1, #page-no-user .inner-page #main-header .top .header-box.header-box-left h1 {
  font-size: 36px;
  line-height: 43px;
  font-weight: 300;
}
@media (max-width: 767px) {
  #page-admin .inner-page #main-header .top .header-box.header-box-left h1, #page-no-user .inner-page #main-header .top .header-box.header-box-left h1 {
    font-size: 36px;
    line-height: 43px;
    font-weight: 300;
  }
}
#page-admin .inner-page #main-header .top .header-box.header-box-left h1.class-name, #page-no-user .inner-page #main-header .top .header-box.header-box-left h1.class-name {
  display: none;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}
@media (max-width: 767px) {
  #page-admin .inner-page #main-header .top .header-box.header-box-left h1.class-name, #page-no-user .inner-page #main-header .top .header-box.header-box-left h1.class-name {
    display: block;
  }
}
#page-admin .inner-page #main-header .top .header-box.header-box-left h2, #page-no-user .inner-page #main-header .top .header-box.header-box-left h2 {
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  color: #979797;
  padding: 0 0 0 3px;
}
#page-admin .inner-page #main-header .top .header-box.header-box-right .profile-container, #page-no-user .inner-page #main-header .top .header-box.header-box-right .profile-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  #page-admin .inner-page #main-header .top .header-box.header-box-right .profile-container, #page-no-user .inner-page #main-header .top .header-box.header-box-right .profile-container {
    display: none;
  }
}
#page-admin .inner-page #main-header .top .header-box.header-box-right .profile-container p, #page-no-user .inner-page #main-header .top .header-box.header-box-right .profile-container p {
  font-size: 16px;
  line-height: 19px;
  color: #979797;
}
#page-admin .inner-page #main-header .top .header-box.header-box-right .profile-container .profile-image, #page-no-user .inner-page #main-header .top .header-box.header-box-right .profile-container .profile-image {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 0 0 12px;
}
#page-admin .inner-page #main-header .top .header-box.header-box-right .profile-container .profile-image img, #page-no-user .inner-page #main-header .top .header-box.header-box-right .profile-container .profile-image img {
  display: block;
}
#page-admin .inner-page #main-header .top .header-box.header-box-right .btn-more, #page-no-user .inner-page #main-header .top .header-box.header-box-right .btn-more {
  display: none;
}
@media (max-width: 767px) {
  #page-admin .inner-page #main-header .top .header-box.header-box-right .btn-more, #page-no-user .inner-page #main-header .top .header-box.header-box-right .btn-more {
    display: flex;
  }
}
#page-admin .inner-page #main-header .top .header-box.header-box-right .btn-more span, #page-no-user .inner-page #main-header .top .header-box.header-box-right .btn-more span {
  background-color: #292936;
}
#page-admin .inner-page #main-header .top .header-box.header-box-right .btn-more span:before, #page-no-user .inner-page #main-header .top .header-box.header-box-right .btn-more span:before, #page-admin .inner-page #main-header .top .header-box.header-box-right .btn-more span:after, #page-no-user .inner-page #main-header .top .header-box.header-box-right .btn-more span:after {
  background-color: #292936;
}
#page-admin .inner-page #main-header .bottom, #page-no-user .inner-page #main-header .bottom {
  min-height: 59px;
  border-bottom: 1px solid #CBCBCB;
  padding: 12px 0 0;
  justify-content: space-between;
  display: flex;
}
@media (max-width: 767px) {
  #page-admin .inner-page #main-header .bottom, #page-no-user .inner-page #main-header .bottom {
    min-height: 0;
    flex-wrap: wrap;
    padding: 0 11px;
  }
}
#page-admin .inner-page #main-header .bottom .header-box, #page-no-user .inner-page #main-header .bottom .header-box {
  display: flex;
}
#page-admin .inner-page #main-header .bottom .header-box.header-box-left, #page-no-user .inner-page #main-header .bottom .header-box.header-box-left {
  align-items: center;
}
@media (max-width: 767px) {
  #page-admin .inner-page #main-header .bottom .header-box.header-box-left, #page-no-user .inner-page #main-header .bottom .header-box.header-box-left {
    width: 100%;
    order: 2;
    padding: 5px 0 0;
  }
}
#page-admin .inner-page #main-header .bottom .header-box.header-box-left nav, #page-no-user .inner-page #main-header .bottom .header-box.header-box-left nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 767px) {
  #page-admin .inner-page #main-header .bottom .header-box.header-box-left nav, #page-no-user .inner-page #main-header .bottom .header-box.header-box-left nav {
    width: calc(100% + 22px);
    margin: 0 -11px;
  }
}
#page-admin .inner-page #main-header .bottom .header-box.header-box-left nav a, #page-no-user .inner-page #main-header .bottom .header-box.header-box-left nav a {
  font-size: 16px;
  line-height: 19px;
  margin: 0 0 0;
  padding: 12px 36px;
  display: flex;
  position: relative;
  flex-grow: 1;
  justify-content: center;
}
@media (max-width: 767px) {
  #page-admin .inner-page #main-header .bottom .header-box.header-box-left nav a, #page-no-user .inner-page #main-header .bottom .header-box.header-box-left nav a {
    padding: 10px 10px 12px;
  }
}
#page-admin .inner-page #main-header .bottom .header-box.header-box-left nav a.active, #page-no-user .inner-page #main-header .bottom .header-box.header-box-left nav a.active {
  font-weight: bold;
}
#page-admin .inner-page #main-header .bottom .header-box.header-box-left nav a.active:after, #page-no-user .inner-page #main-header .bottom .header-box.header-box-left nav a.active:after {
  content: "";
  width: calc(100%);
  height: 1px;
  background-color: #292936;
  position: absolute;
  bottom: -1px;
  left: 0;
}
#page-admin .inner-page #main-header .bottom .header-box.header-box-left nav a.active .notification, #page-no-user .inner-page #main-header .bottom .header-box.header-box-left nav a.active .notification {
  font-weight: normal;
}
#page-admin .inner-page #main-header .bottom .header-box.header-box-left nav a .notification, #page-no-user .inner-page #main-header .bottom .header-box.header-box-left nav a .notification {
  min-width: 26px;
  min-height: 26px;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  background-color: #F35E5E;
  border-radius: 50%;
  margin: -4px 0 0 7px;
  padding: 4px 8px 5px 9px;
}
#page-admin .inner-page #main-header .bottom .header-box.header-box-left .msg-status, #page-no-user .inner-page #main-header .bottom .header-box.header-box-left .msg-status {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  color: #5C5859;
  align-self: flex-start;
  padding: 4px 0 0;
}
@media (max-width: 767px) {
  #page-admin .inner-page #main-header .bottom .header-box.header-box-left .msg-status, #page-no-user .inner-page #main-header .bottom .header-box.header-box-left .msg-status {
    margin: 0 0 10px;
  }
}
#page-admin .inner-page #main-header .bottom .header-box.header-box-left .msg-error, #page-no-user .inner-page #main-header .bottom .header-box.header-box-left .msg-error {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  color: #721C24;
  background: #F8D7DA;
  border-radius: 5px;
  padding: 5px 20px 8px;
  align-self: flex-start;
}
@media (max-width: 767px) {
  #page-admin .inner-page #main-header .bottom .header-box.header-box-left .msg-error, #page-no-user .inner-page #main-header .bottom .header-box.header-box-left .msg-error {
    margin: 0 0 10px;
  }
}
@media (max-width: 767px) {
  #page-admin .inner-page #main-header .bottom .header-box.header-box-right, #page-no-user .inner-page #main-header .bottom .header-box.header-box-right {
    width: 100%;
    order: 1;
    display: flex;
    justify-content: flex-end;
    padding: 0 27px 0 0;
  }
}
#page-admin .inner-page .page-content, #page-no-user .inner-page .page-content {
  padding: 5px 86px 25px 86px;
  flex-grow: 1;
  display: flex;
}
@media (min-width: 768px) and (max-width: 1023px) {
  #page-admin .inner-page .page-content, #page-no-user .inner-page .page-content {
    padding: 5px 30px 25px;
  }
}
@media (max-width: 767px) {
  #page-admin .inner-page .page-content, #page-no-user .inner-page .page-content {
    padding: 5px 0 25px;
  }
}
#page-admin .inner-page .page-content > .container, #page-no-user .inner-page .page-content > .container {
  flex-grow: 1;
  display: flex;
}
#page-admin .inner-page .page-content .tab-content, #page-no-user .inner-page .page-content .tab-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  #page-admin .inner-page .page-content .tab-content, #page-no-user .inner-page .page-content .tab-content {
    flex-direction: column;
    justify-content: flex-start;
  }
}
#page-admin .inner-page .page-content .tab-content.messages-tab-content, #page-no-user .inner-page .page-content .tab-content.messages-tab-content {
  flex-direction: column;
  justify-content: space-between;
}
#page-admin .inner-page .page-content .tab-content.messages-tab-content .list-box, #page-no-user .inner-page .page-content .tab-content.messages-tab-content .list-box {
  width: 100%;
  margin: 16px 0 0;
}
#page-admin .inner-page .page-content .tab-content .list-box, #page-no-user .inner-page .page-content .tab-content .list-box {
  width: 46.75%;
}
@media (max-width: 767px) {
  #page-admin .inner-page .page-content .tab-content .list-box, #page-no-user .inner-page .page-content .tab-content .list-box {
    width: 100%;
  }
}
#page-admin .inner-page .page-content .tab-content .list-box header, #page-no-user .inner-page .page-content .tab-content .list-box header {
  padding: 18px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  #page-admin .inner-page .page-content .tab-content .list-box header, #page-no-user .inner-page .page-content .tab-content .list-box header {
    padding: 18px 14px 15px;
  }
}
#page-admin .inner-page .page-content .tab-content .list-box header h3, #page-no-user .inner-page .page-content .tab-content .list-box header h3 {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}
#page-admin .inner-page .page-content .tab-content .list-box header p, #page-no-user .inner-page .page-content .tab-content .list-box header p {
  font-size: 14px;
  line-height: 17px;
  background-color: transparent;
  padding: 2px 14px 0 0;
}
@media (max-width: 767px) {
  #page-admin .inner-page .page-content .tab-content .list-box header p, #page-no-user .inner-page .page-content .tab-content .list-box header p {
    padding: 4px 0;
  }
}
#page-admin .inner-page .page-content .tab-content .list-box ul .list-item, #page-no-user .inner-page .page-content .tab-content .list-box ul .list-item {
  display: flex;
  padding: 10px 14px 8px 10px;
  border: 2px solid #fff;
  background-color: #fff;
  margin: 4px 0 0;
  position: relative;
}
#page-admin .inner-page .page-content .tab-content .list-box ul .list-item:hover, #page-no-user .inner-page .page-content .tab-content .list-box ul .list-item:hover {
  border: 2px solid #c6c6c6;
  background-color: #e0e0e0;
}
#page-admin .inner-page .page-content .tab-content .list-box ul .list-item.red, #page-no-user .inner-page .page-content .tab-content .list-box ul .list-item.red {
  background-color: #F35E5E;
  border-color: #F35E5E;
  color: #fff;
}
#page-admin .inner-page .page-content .tab-content .list-box ul .list-item.green, #page-no-user .inner-page .page-content .tab-content .list-box ul .list-item.green {
  background: #DDFFE7;
  border-color: #5EF38C;
  padding: 10px 14px 10px 10px;
}
#page-admin .inner-page .page-content .tab-content .list-box ul .list-item:first-child, #page-no-user .inner-page .page-content .tab-content .list-box ul .list-item:first-child {
  margin: 0;
}
#page-admin .inner-page .page-content .tab-content .list-box ul .list-item .link-overlay, #page-no-user .inner-page .page-content .tab-content .list-box ul .list-item .link-overlay {
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  position: absolute;
  top: -2px;
  left: -2px;
  z-index: 2;
  cursor: pointer;
}
#page-admin .inner-page .page-content .tab-content .list-box ul .list-item .num, #page-no-user .inner-page .page-content .tab-content .list-box ul .list-item .num {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  padding: 0 4px 0 2px;
  margin: 0 11px 0 0;
  flex-shrink: 0;
}
#page-admin .inner-page .page-content .tab-content .list-box ul .list-item .num.ready, #page-no-user .inner-page .page-content .tab-content .list-box ul .list-item .num.ready {
  background: url("../images/icon-tick.svg") 0 24px no-repeat;
}
#page-admin .inner-page .page-content .tab-content .list-box ul .list-item picture, #page-no-user .inner-page .page-content .tab-content .list-box ul .list-item picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 16px 0 0;
  flex-shrink: 0;
}
#page-admin .inner-page .page-content .tab-content .list-box ul .list-item picture img, #page-no-user .inner-page .page-content .tab-content .list-box ul .list-item picture img {
  max-height: 100%;
  display: block;
}
#page-admin .inner-page .page-content .tab-content .list-box ul .list-item .info, #page-no-user .inner-page .page-content .tab-content .list-box ul .list-item .info {
  max-width: calc(100% - 120px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#page-admin .inner-page .page-content .tab-content .list-box ul .list-item .info .name, #page-no-user .inner-page .page-content .tab-content .list-box ul .list-item .info .name {
  width: 100%;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  position: relative;
  top: -1px;
  text-overflow: ellipsis;
  overflow: hidden;
}
#page-admin .inner-page .page-content .tab-content .list-box ul .list-item .info .status, #page-no-user .inner-page .page-content .tab-content .list-box ul .list-item .info .status,
#page-admin .inner-page .page-content .tab-content .list-box ul .list-item .info .preview,
#page-no-user .inner-page .page-content .tab-content .list-box ul .list-item .info .preview {
  width: 100%;
  font-size: 14px;
  line-height: 17px;
  color: #292936;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#page-admin .inner-page .page-content .tab-content .list-box ul .list-item .info .status.status, #page-no-user .inner-page .page-content .tab-content .list-box ul .list-item .info .status.status,
#page-admin .inner-page .page-content .tab-content .list-box ul .list-item .info .preview.status {
  width: auto;
}
#page-admin .inner-page .page-content .tab-content .list-box ul .list-item .info .status.white, #page-no-user .inner-page .page-content .tab-content .list-box ul .list-item .info .status.white,
#page-admin .inner-page .page-content .tab-content .list-box ul .list-item .info .preview.white,
#page-no-user .inner-page .page-content .tab-content .list-box ul .list-item .info .preview.white {
  background-color: #fff;
  border-radius: 4px;
  padding: 1px 6px 2px 5px;
}
#page-admin .inner-page .page-content .tab-content .list-box ul .list-item .info .status.red, #page-no-user .inner-page .page-content .tab-content .list-box ul .list-item .info .status.red,
#page-admin .inner-page .page-content .tab-content .list-box ul .list-item .info .preview.red,
#page-no-user .inner-page .page-content .tab-content .list-box ul .list-item .info .preview.red {
  background-color: #F35E5E;
  color: #fff;
  border-radius: 4px;
  padding: 1px 6px 2px 5px;
}
#page-admin .inner-page .page-content .tab-content .list-box ul .list-item .info .status.yellow, #page-no-user .inner-page .page-content .tab-content .list-box ul .list-item .info .status.yellow,
#page-admin .inner-page .page-content .tab-content .list-box ul .list-item .info .preview.yellow,
#page-no-user .inner-page .page-content .tab-content .list-box ul .list-item .info .preview.yellow {
  background-color: #F3C95E;
  border-radius: 4px;
  padding: 1px 6px 2px 5px;
}
#page-admin .inner-page .page-content .tab-content .list-box ul .list-item .time, #page-no-user .inner-page .page-content .tab-content .list-box ul .list-item .time {
  margin-left: auto;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  flex-shrink: 0;
}
#page-admin .inner-page .page-content .tab-content .list-box ul .list-item .time .now, #page-no-user .inner-page .page-content .tab-content .list-box ul .list-item .time .now {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff url("../images/icon-now.svg") 65% 55% no-repeat;
  position: relative;
  left: 4px;
}
#page-admin .inner-page .page-content .tab-content .message-input, #page-no-user .inner-page .page-content .tab-content .message-input {
  width: 100%;
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 18px 16px;
  background-color: #F3F3F3;
  margin: 0 0 -20px;
}
#page-admin .inner-page .page-content .tab-content .message-input .input, #page-no-user .inner-page .page-content .tab-content .message-input .input {
  max-height: 120px;
  overflow: auto;
  width: calc(100% - 63px);
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  background: #fff;
  border-radius: 12px;
  filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.1));
  outline: none;
  border: none;
  padding: 10px 15px;
  cursor: text;
}
#page-admin .inner-page .page-content .tab-content .message-input .input[contenteditable]:empty::before, #page-no-user .inner-page .page-content .tab-content .message-input .input[contenteditable]:empty::before {
  content: "messages";
  font-style: italic;
  text-align: center;
  display: block;
  color: #ABABAB;
}
#page-admin .inner-page .page-content .tab-content .message-input .btn-send, #page-no-user .inner-page .page-content .tab-content .message-input .btn-send {
  width: 57px;
  height: 42px;
  background: #DE00A7 url("../images/icon-arrow-up.svg") 50% 50% no-repeat;
  border-radius: 32px;
  margin: 0 -9px 0 0;
}
#page-admin .inner-page .page-content .tab-content .message-input .btn-send:disabled, #page-no-user .inner-page .page-content .tab-content .message-input .btn-send:disabled {
  background-color: #eaeaea;
}
#page-admin .inner-page .page-content #faq-container, #page-no-user .inner-page .page-content #faq-container {
  width: 100%;
}
#page-admin .inner-page .page-content #faq-container .faq-box, #page-no-user .inner-page .page-content #faq-container .faq-box {
  background-color: #fff;
  padding: 5px 12px 9px;
  margin: 0 0 12px;
}
#page-admin .inner-page .page-content #faq-container .faq-box h3, #page-no-user .inner-page .page-content #faq-container .faq-box h3 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  border-bottom: 1px solid #CBCBCB;
  padding: 0 0 4px;
}
#page-admin .inner-page .page-content #faq-container .faq-box ul, #page-no-user .inner-page .page-content #faq-container .faq-box ul {
  margin: 9px 0 0;
}
#page-admin .inner-page .page-content #faq-container .faq-box ul li, #page-no-user .inner-page .page-content #faq-container .faq-box ul li {
  margin: 11px 0 0;
  padding: 0 0 0 0;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
}
#page-admin .inner-page .page-content #faq-container .faq-box ul li:before, #page-no-user .inner-page .page-content #faq-container .faq-box ul li:before {
  content: "•";
  display: inline-block;
  margin: 0 4px 0 0;
}
#page-admin .inner-page .page-content #faq-container .faq-box ul li:first-child, #page-no-user .inner-page .page-content #faq-container .faq-box ul li:first-child {
  margin: 0;
}
#page-admin .inner-page .page-content #faq-container .faq-box ul li img, #page-no-user .inner-page .page-content #faq-container .faq-box ul li img,
#page-admin .inner-page .page-content #faq-container .faq-box ul li svg,
#page-no-user .inner-page .page-content #faq-container .faq-box ul li svg {
  margin: 0 0 0 8px;
  flex-shrink: 0;
}
#page-admin .inner-page .page-content #faq-container .faq-box ul li svg, #page-no-user .inner-page .page-content #faq-container .faq-box ul li svg {
  width: 19px;
  height: 19px;
}
#page-admin .inner-page .page-content #faq-container .faq-box ul li .img-button, #page-no-user .inner-page .page-content #faq-container .faq-box ul li .img-button {
  max-height: 16px;
}

@media (max-width: 767px) {
  #page-no-user .inner-page #main-header .top {
    padding: 21px 11px 0;
    margin: 0;
  }
}
@media (max-width: 767px) {
  #page-no-user .inner-page #main-header .top .header-box.header-box-left h1 {
    display: block;
  }
}
@media (max-width: 767px) {
  #page-no-user .inner-page #main-header .top .header-box.header-box-left h2 {
    display: block;
  }
}
@media (max-width: 767px) {
  #page-no-user .inner-page #main-header .bottom {
    min-height: 19px;
  }
}

#page-confirm {
  width: 100%;
  min-height: 100%;
  background-color: #F3F3F3;
}
#page-confirm .page-content {
  width: 100%;
  flex-grow: 1;
  display: flex;
  max-width: 698px;
  margin: 0 auto;
  padding: 41px 0 25px;
  text-align: center;
}
#page-confirm .page-content .container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
#page-confirm .page-content .confirmation-text {
  max-width: 200px;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
#page-confirm .page-content .confirmation-text h2 {
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  color: #979797;
  margin: 0 0 0;
}
#page-confirm .page-content .confirmation-text h1 {
  font-size: 36px;
  line-height: 43px;
  font-weight: 300;
}
#page-confirm .page-content .confirmation-text p {
  font-size: 18px;
  line-height: 29px;
  margin: 70px 0 0;
}
#page-confirm .page-content .confirmation-text .btn-form {
  max-width: 186px;
  font-size: 18px;
  line-height: 22px;
  margin: 70px 0 0;
  padding: 10px 30px 12px;
}

/*# sourceMappingURL=main.css.map */
