.form-content {
  width: 46.75%;
  padding: 3px 0 0;

  @include mobile {
    width: 100%;
    padding: 3px 11px 0;
  }

  .form-line {

    &.box-line{
      margin: 15px 0 0;
    }

    &.checkbox-line{
      margin: 18px 0 0;
    }

    &.link-line{
      margin: 15px 0 0;
    }

    label {
      font-size: 16px;
      line-height: 19px;
      position: relative;
    }

    input {
      &[type=text],
      &[type=email],
      &[type=password],
      &[type=number],
      &[type=tel] {

        width: 100%;
        font-size: 16px;
        line-height: 19px;
        color: $col_black;
        border: 1px solid #CBCBCB;
        padding: 15px 17px 16px;
        margin: 7px 0 0;
        outline: none;
        -webkit-appearance: none;
        appearance: none;
        border-radius: 0;

        &:focus {
          border-color: #3851A7;
        }

        &:read-only {
          background-color: #F3F3F3;
          border: 1px solid #CBCBCB;
        }

      }

      &[type=checkbox] {
        float: left;
        opacity: 0;
        width: 0;
        height: 0;
        display: inline-block;
        padding: 0;
        margin: 0;
        border: 0;

        &:focus,
        &:active{
          & + label{
            &:before{
              border-color: #3851A7;
            }
          }
        }

        &:checked{
          & + label{
            &:after{
              content: '';
              width: 14px;
              height: 14px;
              background: #DE00A7;
              position: absolute;
              top: 4px;
              left: 6px;
            }

          }
        }

        & + label{
          padding: 0 0 0 38px;
          cursor: pointer;

          &:before{
            content: '';
            width: 26px;
            height: 26px;
            background: #fff;
            border: 1px solid #CBCBCB;
            position: absolute;
            top: -2px;
            left: 0;
          }
        }
      }

    }
  }

  h4 {
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    margin: 16px 0 0;

    & + .form-line{
      &.checkbox-line{
        margin: 16px 0 0;
      }
    }
  }

  .form-link{
    font-size: 16px;
    line-height: 19px;

    &:hover{
      text-decoration: underline;
    }
  }

  .error-msg{
    font-size: 14px;
    line-height: 17px;
    color: red;

  }

  .btn{
    &.btn-form {
      margin: 26px 0 0;
    }
  }
}