#page-user-screen {
  width: 100%;
  min-height: 100%;
  background: linear-gradient(150.65deg, #2E448E 0%, #3851A7 100%);
  color: #fff;

  #main-header {
    max-width: 698px;
    min-height: 104px;
    padding: 22px 0 0;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;

    .header-box {
      flex: 1;
      display: flex;

      &.header-box-left,
      &.header-box-right{
        .btn {
          margin: 0 32px 0 0;

          @include mobile-small {
            margin: 0 20px 0 0;
          }
          &:last-child {
            margin: 0;
          }
        }
      }

      &.header-box-center {
        padding: 0 5px;

        .img-container{
          position: relative;
          display: flex;
          justify-content: center;
          margin: 0 0 0 -45px;

          &:first-child{
            margin: 0!important;
            z-index: 8;
          }

          &:nth-child(2){
            z-index: 7;
          }

          &:nth-child(3){
            z-index: 6;
          }

          &:nth-child(4){
            z-index: 5;
          }

          &:nth-child(5){
            z-index: 4;
          }

          &:nth-child(6){
            z-index: 4;
          }

          &:nth-child(7){
            z-index: 3;
          }

          &:nth-child(8){
            z-index: 2;
          }

          &:nth-child(9){
            z-index: 1;
          }

          &.orange{
            &:after{
              background-color: #FF7F28;
            }
          }

          &.yellow{
            &:after{
              background-color: #FFF201;
            }
          }

          picture {
            width: 72px;
            height: 72px;
            border-radius: 50%;
            overflow: hidden;
            filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.1));
            border: 5px solid #2E448E;

            img {
              display: block;
              height: 100%;
            }
          }

          &:after{
            content: '';
            width: 12px;
            height: 12px;
            border-radius: 50%;
            position: absolute;
            bottom: -17px;
          }
        }

      }
    }
  }

  .page-content {
    width: 100%;
    flex-grow: 1;
    display: flex;
    max-width: 698px;
    margin: 0 auto;
    padding: 41px 0 25px;

    &.child-list{
      padding: 13px 0 25px;
    }

    .container {
      display: flex;
      flex-grow: 1;
      justify-content: center;
    }

    .heading {
      width: 100%;
      min-height: 137px;
      display: flex;
      flex-direction: column;

      h1 {
        font-size: 36px;
        line-height: 43px;
        font-weight: 300;
      }

      p {
        font-size: 18px;
        line-height: 22px;
        margin: 12px 0 0;
      }
    }

    .form {
      width: 100%;
      display: flex;
      flex-direction: column;

      .heading {
        justify-content: flex-end;

        p {
          margin: 12px 0 0;
        }
      }

      .form-content {
        width: calc(100% + 20px);
        display: flex;
        flex-wrap: wrap;
        padding: 17px 0 0;
        margin: 0 -10px -10px;

        .input-box {
          width: 88px;
          height: 88px;
          filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.1));
          border-radius: 12px;
          position: relative;
          margin: 10px;

          &.wide{
            width: 100%;
          }

          &.checkbox{
            height: auto;
            margin: 10px 10px 2px;

            input{
              &:checked{
                & + label{
                  background-image: url("../images/icon-tick.svg");
                  background-position: 12px 50%;
                  background-repeat: no-repeat;
                  background-size: 32px auto;
                }
              }
            }

            label{
              font-weight: normal;
              justify-content: space-between;
              padding: 16px 26px 16px 58px;
              position: relative;

              .right{
                padding: 0 0 0 5px;
                text-align: right;
              }
            }
          }

          input {
            position: fixed;
            opacity: 0;
            pointer-events: none;

            &[type="radio"]{
              &:checked {
                & + label {
                  border-color: #DE00A7;
                }
              }
            }


          }

          label {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            font-family: 'Lato', Helvetica, Arial, sans-serif;
            font-size: 18px;
            line-height: 22px;
            font-weight: bold;
            background: #fff;
            border: 3px solid #fff;
            color: #292936;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            border-radius: 12px;
            transition: border-color 0.1s;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
          }
        }
      }
    }

    #queue-screen {
      width: 100%;
      display: flex;
      flex-direction: column;

      .heading {
        min-height: 136px;
        text-align: center;
      }

      .queue-status {
        display: flex;
        flex-direction: column;
        align-items: center;

        .queue-position {
          width: 180px;
          height: 180px;
          border-radius: 50%;
          font-size: 18px;
          line-height: 22px;
          background-color: #3851A7;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          flex-direction: column;
          position: relative;

          &.ready {
            background: #5EF38C url("../images/icon-ready.svg") no-repeat 50% 50%;
          }

          span {
            font-size: 72px;
            line-height: 72px;
            font-weight: bold;
            display: block;
            text-align: center;
            position: relative;
            top: -4px;

            &:before {
              content: '#';
              font-size: 18px;
              line-height: 22px;
              font-weight: bold;
              position: absolute;
              top: 6px;
              left: -11px;
            }
          }
        }

        .status-text {
          font-size: 22px;
          font-weight: bold;
          margin: 56px 0 0;
        }
      }
    }

    .confirmation-btn-container {
      width: 100%;
      padding: 38px 0 0;
      margin: auto 0 0;

      .btn {
        &:last-child {
          margin-top: 16px;
        }

        &:first-child {
          margin-top: 0;
        }
      }
    }

    .child-box{
      width: calc(100% + 54px);
      background-color: #fff;
      padding: 11px 12px 13px;
      margin: 0 -27px 16px;

      .info{
        display: flex;
        padding: 0 0 0 8px;

        .img-container{
          width: 62px;
          flex-grow: 0;
          flex-shrink: 0;

          picture{
            width: 62px;
            height: 62px;
            border-radius: 50%;
            overflow: hidden;
            filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.1));
            display: block;

            img{
              max-width: 100%;
              width: auto;
              height: 100%;
              display: block;

            }
          }
        }

        .text{
          max-width: calc(100% - 60px);
          flex-grow: 1;
          padding: 14px 0 0 60px;


          h1{
            width: 100%;
            font-size: 24px;
            line-height: 29px;
            font-weight: 600;
            color: $col_black;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          h2{
            width: 100%;
            font-size: 18px;
            line-height: 22px;
            font-weight: 400;
            color: $col_black;
            margin: 4px 0 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }

      .image-actions{
        padding: 3px 0 0;

        button{
          min-width: 78px;
          font-size: 14px;
          line-height: 17px;
          font-weight: bold;
          border-radius: 4px;
          text-align: center;
          padding: 1px 13px 3px 14px;
          display: block;

          &.btn-remove{
            color: #FFFFFF;
            background: #EB7600;
          }

          &.e-upload-browse-btn,
          &.e-file-upload-btn{
            color: #2E448E;
            background-color: #5EF38C;
          }

          &.e-file-clear-btn{
            color: #fff;
            background-color: #828282;
          }

        }

        .e-upload{
          color: #000;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;

          .e-file-select,
          .e-file-drop,
          .e-file-size,
          .e-file-status{
            display: none;
          }

          .e-file-select-wrap{
            width: 100%;
          }

          .e-upload-files{
            width: 130px;
            padding: 9px 20px 0 0;
            flex-shrink: 0;
            flex-grow: 0;

            .e-file-container{
              span{
                font-size: 12px;
                line-height: 14px;
                overflow: hidden;

                &.e-file-name{
                  display: inline-block;
                  max-width: 80px;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }

                &.e-file-type{
                  display: inline-block;
                  margin: 0 0 0 -5px;
                }
              }
            }
          }

          .e-upload-actions{
            display: flex;
            flex-grow: 1;
            align-items: flex-start;
            padding: 13px 0 10px;

            button{
              margin: 0;

              &:last-child{
                margin: 0 18px 0 0;
              }

              &.e-file-upload-btn{
                order: 1;
              }

              &.e-file-clear-btn{
                order: 2;
              }
            }
          }
        }
      }
    }
  }

  #main-footer{
    width: 100%;
    margin: 0 auto;
    background-color: #293C7D;
    overflow: hidden;
    position: fixed;
    bottom: 0;

    nav{
      max-width: 698px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 10px;
      margin: 0 auto;

      a{
        font-size: 16px;
        display: flex;
        align-items: center;
        padding: 15px;
        transition: background-color 0.1s;

        &:hover{
          background-color: #3B56B3;
        }

        .icon-container{
          padding: 0 4px;

          svg{
            fill: #fff;
            display: block;
          }
        }
      }
    }
  }
}