#page-admin {
  background-color: #F3F3F3;
  min-height: 100%;

  &.page-admin-messages,
  &.page-admin-queue {
    .inner-page {
      #main-header {
        .top {
          .header-box-left {
            h1,
            h2 {
              @include mobile {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  .container {
    padding: 0;

    @include mobile {
      padding: 0 8px;
    }
  }

  .inner-page {
    &.no-padding{
      #main-header{
        padding: 20px 0px 0;

        @include mobile {
          padding: 9px 0 0;
        }

        .top{
          padding: 0 12px;

          @include mobile {
            padding: 16px 27px 21px 11px;
          }
        }
      }
      .page-content{
        padding: 5px 0 25px;

        @include mobile {
          padding: 5px 0 25px;
        }
      }
    }

    #main-header {
      width: 100%;
      background-color: #fff;
      position: sticky;
      top: 0;
      padding: 20px 86px 0;
      z-index: 9;

      @include tablet {
        padding: 20px 30px 0;
      }

      @include mobile {
        width: 100%;
        padding: 9px 0 0;
        background-color: #F3F3F3;
      }

      .top {
        min-height: 72px;
        display: flex;
        justify-content: space-between;

        @include mobile {
          min-height: 24px;
          margin: 0 0 -8px;
          padding: 16px 27px 21px 11px;
        }

        .header-box {
          &.header-box-left {
            padding: 10px 0 0;

            @include mobile {
              padding: 5px 0 0;
            }

            h1 {
              font-size: 36px;
              line-height: 43px;
              font-weight: 300;

              @include mobile {
                font-size: 36px;
                line-height: 43px;
                font-weight: 300;
              }

              &.class-name {
                display: none;
                font-size: 17px;
                line-height: 24px;
                font-weight: bold;

                @include mobile {
                  display: block;
                }
              }
            }

            h2 {
              font-size: 16px;
              line-height: 19px;
              font-weight: bold;
              color: #979797;
              padding: 0 0 0 3px;
            }
          }

          &.header-box-right {
            .profile-container {
              display: flex;
              justify-content: space-between;
              align-items: center;

              @include mobile {
                display: none;
              }

              p {
                font-size: 16px;
                line-height: 19px;
                color: #979797;
              }

              .profile-image {
                width: 40px;
                height: 40px;
                overflow: hidden;
                border-radius: 50%;
                margin: 0 0 0 12px;

                img {
                  display: block;
                }
              }
            }

            .btn-more {
              display: none;

              @include mobile{
                display: flex;
              }
              span {
                background-color: $col_black;

                &:before,
                &:after {
                  background-color: $col_black;
                }
              }
            }
          }
        }
      }

      .bottom {
        min-height: 59px;
        border-bottom: 1px solid #CBCBCB;
        padding: 12px 0 0;
        justify-content: space-between;
        display: flex;

        @include mobile {
          min-height: 0;
          flex-wrap: wrap;
          padding: 0 11px;
        }

        .header-box {
          display: flex;

          &.header-box-left {
            align-items: center;

            @include mobile {
              width: 100%;
              order: 2;
              padding: 5px 0 0;
            }

            nav {
              width: 100%;
              display: flex;
              justify-content: space-evenly;

              @include mobile{
                width: calc(100% + 22px);
                margin: 0 -11px;
              }

              a {
                font-size: 16px;
                line-height: 19px;
                margin: 0 0 0;
                padding: 12px 36px;
                display: flex;
                position: relative;
                flex-grow: 1;
                justify-content: center;

                @include mobile {
                  padding: 10px 10px 12px;
                }

                &.active {
                  font-weight: bold;

                  &:after {
                    content: '';
                    width: calc(100%);
                    height: 1px;
                    background-color: $col_black;
                    position: absolute;
                    bottom: -1px;
                    left: 0;
                  }

                  .notification {
                    font-weight: normal;
                  }
                }

                .notification {
                  min-width: 26px;
                  min-height: 26px;
                  font-size: 14px;
                  line-height: 17px;
                  color: #fff;
                  background-color: $col_red;
                  border-radius: 50%;
                  margin: -4px 0 0 7px;
                  padding: 4px 8px 5px 9px;
                }
              }
            }

            .msg-status{
              font-size: 18px;
              line-height: 22px;
              font-weight: bold;
              color: #5C5859;
              align-self: flex-start;
              padding: 4px 0 0;

              @include mobile{
                margin: 0 0 10px;
              }
            }

            .msg-error{
              font-size: 18px;
              line-height: 22px;
              font-weight: bold;
              color: #721C24;
              background: #F8D7DA;
              border-radius: 5px;
              padding: 5px 20px 8px;
              align-self: flex-start;

              @include mobile{
                margin: 0 0 10px;
              }
            }
          }

          &.header-box-right {
            @include mobile {
              width: 100%;
              order: 1;
              display: flex;
              justify-content: flex-end;
              padding: 0 27px 0 0;
            }
          }
        }
      }
    }

    .page-content {
      padding: 5px 86px 25px 86px;
      flex-grow: 1;
      display: flex;

      @include tablet {
        padding: 5px 30px 25px;
      }

      @include mobile {
        padding: 5px 0 25px;
      }

      > .container {
        flex-grow: 1;
        display: flex;
      }

      .tab-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
        flex-wrap: wrap;

        @include mobile {
          flex-direction: column;
          justify-content: flex-start;
        }

        &.messages-tab-content {
          flex-direction: column;
          justify-content: space-between;

          .list-box {
            width: 100%;
            margin: 16px 0 0;
          }
        }

        .list-box {
          width: 46.75%;

          @include mobile {
            width: 100%;
          }

          header {
            padding: 18px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include mobile {
              padding: 18px 14px 15px;
            }

            h3 {
              font-size: 18px;
              line-height: 22px;
              font-weight: bold;
            }

            p {
              font-size: 14px;
              line-height: 17px;
              background-color: transparent;
              padding: 2px 14px 0 0;

              @include mobile {
                padding: 4px 0;

              }
            }
          }

          ul {
            .list-item {
              display: flex;
              padding: 10px 14px 8px 10px;
              border: 2px solid #fff;
              background-color: #fff;
              margin: 4px 0 0;
              position: relative;

              &:hover {
                border: 2px solid #c6c6c6;
                background-color: #e0e0e0;
              }

              &.red {
                background-color: $col_red;
                border-color: $col_red;
                color: #fff;
              }

              &.green {
                background: #DDFFE7;
                border-color: #5EF38C;
                padding: 10px 14px 10px 10px;
              }

              &:first-child {
                margin: 0;
              }

              .link-overlay {
                width: calc(100% + 4px);
                height: calc(100% + 4px);
                position: absolute;
                top: -2px;
                left: -2px;
                z-index: 2;
                cursor: pointer;
              }

              .num {
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                padding: 0 4px 0 2px;
                margin: 0 11px 0 0;
                flex-shrink: 0;

                &.ready {
                  background: url("../images/icon-tick.svg") 0 24px no-repeat;

                }
              }

              picture {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                overflow: hidden;
                margin: 0 16px 0 0;
                flex-shrink: 0;

                img {
                  max-height: 100%;
                  display: block;
                }
              }

              .info {
                max-width: calc(100% - 120px);
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                .name {
                  width: 100%;
                  font-size: 18px;
                  line-height: 22px;
                  font-weight: 600;
                  position: relative;
                  top: -1px;
                  text-overflow: ellipsis;
                  overflow: hidden;
                }

                .status,
                .preview {
                  width: 100%;
                  font-size: 14px;
                  line-height: 17px;
                  color: $col_black;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;

                  &.status {
                    width: auto;
                  }

                  &.white {
                    background-color: #fff;
                    border-radius: 4px;
                    padding: 1px 6px 2px 5px;
                  }

                  &.red {
                    background-color: $col_red;
                    color: #fff;
                    border-radius: 4px;
                    padding: 1px 6px 2px 5px;
                  }

                  &.yellow {
                    background-color: #F3C95E;
                    border-radius: 4px;
                    padding: 1px 6px 2px 5px;
                  }
                }
              }

              .time {
                margin-left: auto;
                font-size: 18px;
                line-height: 22px;
                font-weight: bold;
                flex-shrink: 0;

                .now {
                  width: 40px;
                  height: 40px;
                  border-radius: 50%;
                  background: #fff url("../images/icon-now.svg") 65% 55% no-repeat;
                  position: relative;
                  left: 4px;
                }
              }
            }
          }
        }

        .message-input {
          width: 100%;
          max-width: 1300px;
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          padding: 18px 16px;
          background-color: #F3F3F3;
          margin: 0 0 -20px;

          .input {
            max-height: 120px;
            overflow: auto;
            width: calc(100% - 63px);
            font-size: 18px;
            line-height: 22px;
            font-weight: 500;
            background: #fff;
            border-radius: 12px;
            filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.1));
            outline: none;
            border: none;
            padding: 10px 15px;
            cursor: text;

            &[contenteditable]:empty::before {
              content: "messages";
              font-style: italic;
              text-align: center;
              display: block;
              color: #ABABAB;
            }
          }

          .btn-send {
            width: 57px;
            height: 42px;
            background: #DE00A7 url("../images/icon-arrow-up.svg") 50% 50% no-repeat;
            border-radius: 32px;
            margin: 0 -9px 0 0;

            &:disabled {
              background-color: #eaeaea;

            }
          }
        }
      }

      #faq-container{
        width: 100%;

        .faq-box{
          background-color: #fff;
          padding: 5px 12px 9px;
          margin: 0 0 12px;

          h3{
            font-size: 18px;
            line-height: 22px;
            font-weight: 600;
            border-bottom: 1px solid #CBCBCB;
            padding: 0 0 4px;
          }

          ul{
            margin: 9px 0 0;

            li{
              margin: 11px 0 0;
              padding: 0 0 0 0;
              font-size: 14px;
              line-height: 17px;
              display: flex;
              align-items: center;

              &:before{
                content: '•';
                display: inline-block;
                margin: 0 4px 0 0;
              }

              &:first-child{
                margin: 0;
              }

              img,
              svg{
                margin: 0 0 0 8px;
                flex-shrink: 0;
              }

              svg{
                width: 19px;
                height: 19px;
              }

              .img-button{
                max-height: 16px;
              }
            }
          }
        }
      }
    }
  }
}